* {
  margin: 0;
}
body {
  background-color: #000435;
}
header {
  background-color: black;
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
}
header h2 {
  font-size: 36px
}

nav {
  display: flex;
  justify-self: end;
  margin-left: auto;
  margin-right: 2rem;
  justify-content: space-around;
  align-items: center;
}

nav h3 {
  padding: 1rem;
}
nav a {
  cursor: pointer;
}

#main-logo {
  height: 80%;
  padding: 2rem 2rem;
}
content{
  margin-left: 10px;
}
h1, h2 {
  color: #FF5E00;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h3, p {
  color: #B2CBDE;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
