* {
  font-family: Helvetica;
}
h1 {
  color: khaki;
  font-size: 100px;
  background-image: url("../../Resources/pattern.jpeg");
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200;
}
h1, h2, h3, .price {
  font-weight: bold;
}
content {
  position: absolute;
  top:115px;
  margin: 0px 0px;
  right: 0px;
  width: 100%;
}
.item {
  height: 305px;
}
.itemText {
  display: inline-block;
  margin: auto 0px auto 50px;
  position: relative;
  top: -84px;
}
.price {
  color: blue;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  padding-left: 15px;
}
#brushes h2 {
  background-color: mediumspringgreen;
}
#frames h2 {
  background-color: lightcoral;
}
#paint h2 {
  background-color: skyblue;
}
img {
  border-radius: 40px;
  display: inline-block;
  margin-left: 30px;
}

#brushes img {
  border: 4px solid mediumspringgreen;
}

#frames img {
  border: 4px solid lightcoral;
}

#paint img {
  border: 4px solid skyblue;
}